name: CI
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.5

      - name: Install poetry project
        run: poetry install

      - name: Generate grpc stubs
        run: poetry run python ./generatestubs.py

      - name: Lint code
        run: poetry run python ./lint.py
